@use "../main";

.city_quiz {
  margin: auto;
  padding: 0 1em;
  max-width: 1200px;
  min-height: 90vh;
  text-align: center;
  display: flex;

  @media (max-width: main.$breakpoint-tablet) {
    flex-direction: column;
  }

  .city_quiz_map {
    flex: 1;
  }
}
