.province_quiz {
  margin: auto;
  width: 1200px;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: row;

  .province_quiz_display {
    flex: 1;
    align-self: center;
    padding: 0.8em;
    border: 2px solid blue;
    border-radius: 2em;
    font-size: 2em;
  }

  .province_quiz_map {
    flex: 2;
    padding: 2em;
    width: 1200px;
    height: 90vh;
  }
}
