@import "../main.scss";

.province_quiz {
  margin: auto;
  padding: 1em;
  max-width: 1200px;
  min-height: 90vh;
  text-align: center;
  display: flex;
  flex-direction: row;

  .province_quiz_display {
    flex: 1;
    align-self: center;
    font-size: 2em;

    .display_score {
      border: 2px solid $blue;
      border-radius: 1em;
      background-color: white;

      span {
        display: block;
        padding: 0.5em;
      }

      .header {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0.9em 0.9em 0 0;
        background-color: $blue;
        color: white;

        .icon {
          font-size: 1.5em;
        }
      }

      .content {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1em;
        font-size: 1.2em;

        img {
          margin: 0 0.5em;
        }
      }
    }

    button {
      @include button;
    }
  }

  .province_quiz_map {
    flex: 1;
  }
}
