@import "./main.scss";

.page {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
  text-align: center;
  height: 100vh;

  .header {
    grid-area: 1 / 1 / 2 / 6;
    height: fit-content;
    padding: 1em;
    background-color: $blue;
    font-size: 1.5em;
    color: white;
  }

  .subheader {
    grid-area: 2 / 2 / 3 / 5;
    height: fit-content;
    padding: 1em;
    margin: 0 5em;
    background-color: $blue;
    color: white;
    border-radius: 1em;
    font-size: 1.5em;

    h2 {
      align-self: center;
    }
  }

  .game_list {
    grid-area: 3 / 2 / 5 / 5;
    display: flex;
    flex-direction: row;

    .game_list_item {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 2px solid $blue;
      border-radius: 1em;
      margin: 1em;
      padding: 1em;

      .item_header {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        border-radius: 1em;
        padding: 0.5em 2em;
        background-color: $blue;
        color: white;
        width: 70%;
        top: -45px;

        span {
          flex: 3;
          font-size: 2.5em;
        }

        .icon {
          flex: 1;
          margin-left: 0.6em;
          font-size: 3em;
        }
      }

      .item_content {
        p {
          margin: 1em 0;
          font-size: 1.6em;
        }
      }

      .item_button {
        button {
          @include button;
          font-size: 1.3em;
        }
      }
    }
  }

  .footer {
    grid-area: 6 / 1 / 7 / 6;
    height: fit-content;
    padding: 1em;
    align-self: end;
    background-color: $blue;
    color: white;
  }
}
