@import "./main.scss";

.page {
  width: 1200px;
  margin: auto;
  padding: 5em;
  border-radius: 1em;

  .header {
    text-align: center;
  }

  .game_list {
    display: flex;
    flex-direction: row;

    .game_list_item {
      flex: 1;
      border: 2px solid $blue;
      border-radius: 1em;
      margin: 1.5em;
      text-align: center;

      span {
        display: flex;
        justify-content: center;
        border-radius: 0.5em 0.5em 0 0;
        font-size: 1.5em;
        padding: 0.5em;
        background-color: $blue;
        color: white;
      }

      p {
        margin: 1em 0;
        font-size: 1.4em;
      }

      button {
        @include button;
        font-size: 1.2em;
      }
    }
  }
}
