@import "./main.scss";

.page {
  display: flex;
  flex-direction: column;
  text-align: center;
  min-height: 100vh;

  .header {
    flex: 1;
    display: flex;
    justify-content: center;
    background-color: $blue;
    font-size: 1.5em;
    color: white;

    h1 {
      align-self: center;
    }
  }

  .subheader {
    flex: 1;
    display: flex;
    justify-content: center;
    background-color: $blue;
    color: white;
    width: 40vw;
    align-self: center;
    margin: 2em;
    border-radius: 1em;
    font-size: 1.5em;

    h2 {
      align-self: center;
    }
  }

  .game_list {
    width: 70vw;
    flex: 3;
    align-self: center;
    margin-top: 5em;
    display: flex;
    flex-direction: row;

    .game_list_item {
      flex: 1;
      justify-items: center;
      border: 2px solid $blue;
      border-radius: 1em;
      margin: 1.5em;

      .item_header {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        border-radius: 1em;
        padding: 0.5em 2em;
        background-color: $blue;
        color: white;
        width: 70%;
        top: -35px;

        span {
          flex: 3;
          font-size: 2.5em;
        }

        .icon {
          flex: 1;
          margin-left: 0.6em;
          font-size: 3em;
        }
      }

      .item_content {
        p {
          margin: 1em 0;
          font-size: 1.4em;
        }

        button {
          @include button;
          font-size: 1.2em;
        }
      }
    }
  }

  .footer {
    flex: 1;
    display: flex;
    justify-content: center;
    background-color: $blue;
    color: white;

    h1 {
      align-self: center;
    }
  }
}
